<div ngClass="content">
  <h2>My Worker Details : </h2>
  <div>
    <p>First Name</p>
    <h3>{{worker.firstName}}</h3>
  </div>
  <div>
    <p>Last Name</p>
    <h3>{{worker.lastName}}</h3>
  </div>
  <div>
    <p>Id</p>
    <h3>{{worker.id}}</h3>
  </div>
  <div>
    <p>Join Date</p>
    <h3>{{worker.joinIn|date:'dd-MM-yyyy'}}</h3>
  </div>
  <div>
    <p>Password</p>
    <h3>{{worker.password}}</h3>
  </div>
  <div>
    <p>Role</p>
    <h3>{{worker.role}}</h3>
  </div>
  <div>
    <p>Salary</p>
    <h3>{{worker.salary|currency}}</h3>
  </div>
  <div>
</div>
