<div ngClass="All" *ngIf="digitalTools">
  <h1>The Digital Tools : </h1>
  <table>
    <thead>
      <th>
        Id
      </th>
      <th>
        Name
      </th>
        Action
    </thead>

    <tbody>
      <tr *ngFor="let digitalToolss of digitalTools;let i=index" (click)="show(i)">
        <td>{{digitalToolss.id}}</td>
        <td>{{digitalToolss.name}}</td>
        <button (click)="delete(i)">delete</button>
        <button (click)="update(i)">update</button>
      </tr>
    </tbody>
  </table>

  <span>* Click on a row in the table to see all the details *</span>
  <br>
  <img *ngIf="displayImg" ngClass="imgAlert" src="../../../assets/Images/Web/add.gif" alt="addData">
  <br><br>
  <button (mouseenter)="changeDisplay(true)" (mouseleave)="changeDisplay(false)"  [routerLink]="['/ManagerJob/addDigitalTools']">New</button>
</div>

<div *ngIf="choose">
  <app-show-digital-tools [digitalToolss]="digitalToolsChoose" (closedigitalTools)="closedigitalToolsMain()"></app-show-digital-tools>
</div>

<div ngClass="All" *ngIf="!digitalTools">
  <h1>No data to display ! </h1>
  <img src="../../../assets/Images/Web/sorry.gif" ngClass="imgWebs" alt="sorry">
</div>
