<div ngClass="All" *ngIf="clients">
  <h1>The Clients : </h1>
  <table>
    <thead>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Id
      </th>
      <th>
        Action
      </th>
    </thead>

    <tbody>
      <tr *ngFor="let client of clients;let i=index" (click)="show(i)">
        <td>{{client.firstName}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.lastName}}</td>
        <button (click)="delete(i)">delete</button>
        <button (click)="update(i)">update</button>
      </tr>
    </tbody>
  </table>

  <span>* Click on a row in the table to see all the details *</span>
  <br>
  <img *ngIf="displayImg" ngClass="imgAlert" src="../../../assets/Images/Web/add.gif" alt="addData">
  <br><br>
  <button (mouseenter)="changeDisplay(true)" (mouseleave)="changeDisplay(false)" [routerLink]="['/WorkerJob/addClient']">New</button>
</div>

<div *ngIf="choose">
  <app-show-client [client]="clientChoose" (closeClient)="closeClientMain()"></app-show-client>
</div>

<div ngClass="All" *ngIf="!clients">
  <h1>No data to display ! </h1>
  <img src="../../../assets/Images/Web/sorry.gif" ngClass="imgWebs" alt="sorry">
</div>
