<div ngClass="showAllData">
  <h2>Client Details : </h2>
  <div>
    <p>First Name</p>
    <p>{{client.firstName}}</p>
  </div>
  <div>
    <p>Last Name</p>
    <p>{{client.lastName}}</p>
  </div>
  <div>
    <p>Id</p>
    <p>{{client.id}}</p>
  </div>
  <div>
    <p>Born Date</p>
    <p>{{client.bornDate|date:'dd-MM-yyyy'}}</p>
  </div>
  <div>
    <p>Phone Number</p>
    <p>{{client.phoneNumber.slice(0,3)+'-'+client.phoneNumber.slice(3)}}</p>
  </div>
  <div *ngIf="client.vip==true">
    <p>VIP</p>
  </div>
  <div *ngIf="client.carNumber">
    <p>Car in rental</p>
    <p>{{client.carNumber}}</p>
  </div>
  <div *ngIf="!client.carNumber">
    <p>No car in rental</p>
  </div>

  <button (click)="close()">close</button>
</div>
